/node_modules/*
/coverage/*
/build/*
/.vscode/*
!/dist/*

.DS_Store
npm-debug.log*

/assertions/*
/.circleci/*
.gitattributes
.nvmrc
.prettierignore
.prettierrc.json
tsconfig.dist.json
tsconfig.excludes.json
tsconfig.json
.eslintrc.json
